/* Variables */
:root {
  --maincolor: #229fbc;
  --light: #ffffff;
}

.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}
.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
/* MENU */
#usuarioNombre{
  color: white;
}

/* MY PROFILE */
.avatar{
  border-radius: 50% / 25%;
  width: 12rem;
  height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  background-size: 100%;
}
.avatar-1{
  background-image: url(https://lince666.github.io/e-mercado/img/avatar/1.jpg);
}
.avatar-2{
  background-image: url(https://lince666.github.io/e-mercado/img/avatar/2.jpg);
}
.avatar-3{
  background-image: url(https://lince666.github.io/e-mercado/img/avatar/3.jpg);
}
.avatar-4{
  background-image: url(https://lince666.github.io/e-mercado/img/avatar/4.jpg);
}
.avatar-5{
  background-image: url(https://lince666.github.io/e-mercado/img/avatar/5.jpg);
}
.avatar-6{
  background-image: url(https://lince666.github.io/e-mercado/img/avatar/6.jpg);
}

/* PRODUCTS */
.search-cont{
  padding-bottom: 15px;
  margin-left: 100px;
}
.searcher{
  outline: none;
  text-align: center;
  background-color: lightgrey;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.searcher:focus{
  box-shadow: 0px 0px 5px 1px black, 0px 0px 5px 1px black inset;
  transition:all .2s ease-in-out;
}

.prod-img img:hover{
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transition:all .5s ease-in-out;
}
.prod-img-gallery{
  width: 100%;
}
.prod-img-gallery img{
  margin-left: 30px;
  margin-top: 20px;
  width: 80vh;
}
.related-prod-img {
  margin-left: 20vh;
}
.related-prod-img img{
  width: 20vh;
}

.related-prod-img p{
  font-size: 2vh;
  text-align: center;
}

.prod-price{
  float: right;
  margin-bottom: 10px;
}
.prod-desc{
  margin-top: 10px;
}

.add-to-cart{
  float: right;
  margin-top: 10px;
}

.add-to-cart img{
  width: 1.5rem;
}
.add-to-cart button{
  background-color: lightgrey;
  border: none;
  border-radius: 10px;
}
/* COMMENTS */
.stars-container {
  float: right;
  margin-right: 5vh;
}
.comment-container {
  border: solid 1px black;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  border-radius: 10px;
}
.comment-container .user{
  margin-top: 1vh;
  margin-left: 10vh;
}
.comment-container .desc{
  text-align: center;
}
.comment-container .date{
  text-align: right;
  margin-right: 10vh;
}
.add-comments {
  margin-top: 2vh;
  margin-left: 10vh;
  margin-right: 10vh;
}
.yellow {
  color: yellow;
}
.star-shadow:hover{
  color: yellow;
}
.add-comment{
  width: 100%;
}
.send-button{
  float: right;
}
.back-to-products{
  margin-top: 10vh;
}
/* LOGIN */

.login-body {
  overflow-x: hidden;
}

.img-login-1{
  background-image: url(../img/cat5.jpg);
  background-size: cover;
  background-position: center;
}
.img-login-2{
  background-image: url(../img/cat7.jpg);
  background-size: cover;
  background-position: center;
}
.img-login-3{
  background-image: url(../img/cat4.jpg);
  background-size: cover;
  background-position: center;
}

.form-control{
  min-height: 3.5rem;
  line-height: initial;
}

#login-box{
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  color: var(--maincolor);
}

#login-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
}